# Core
requests
beautifulsoup4
lxml
httpx

# Data
pandas
pyarrow

# Config & validation
python-dotenv
pydantic
pydantic-settings
loguru

# Queue
redis
rq

# DB
sqlalchemy
psycopg2-binary

# Reliability
tenacity
tqdm
